---

---

<form @submit:prevent x-data="{ messageText: '' }">
  <div>
    <label for='name'>Name</label>
    <input
      type='text'
      id='name'
      name='name'
      placeholder='First and Last Name'
      required
    />
    <p class='text-red-500 text-sm mt-1 hidden'>Name is required</p>
  </div>
  <div>
    <label for='email'>Email</label>
    <input
      type='email'
      id='email'
      name='email'
      required
      pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
      placeholder='e.g., user@example.com'
    />
    <p class='text-red-500 text-sm mt-1 hidden'>Enter a valid email address</p>
  </div>
  <div>
    <label for='phoneNo'>Phone Number</label>
    <input
      type='tel'
      id='phoneNo'
      name='phoneNo'
      required
      pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}'
      placeholder='123-456-7890'
    />
    <p class='text-red-500 text-sm mt-1 hidden'>Invalid phone number format</p>
  </div>
  <div>
    <label for='contactReason'>Reason for Contacting</label>
    <select id='contactReason' name='contactReason' required>
      <option value='' selected>Select a reason</option>
      <option value='new_project'>New Project Estimate</option>
      <option value='general_inquiry'>General Inquiry</option>
      <option value='existing_customer'>Existing Customer</option>
      <option value='service_issue'>Issues with Service</option>
      <option value='other'>Other</option>
    </select>
  </div>
  <div>
    <label for='message'>Message</label>
    <textarea
      id='message'
      name='message'
      maxlength='1000'
      required
      x-model='messageText'
      class='w-full h-32 p-2 border border-gray-300 rounded-md resize-none text-lg text-gray-700 placeholder-gray-500 bg-gray-100 focus:border-gray-700 focus:bg-gray-200'
      placeholder='Enter your message here'></textarea>
    <p class='text-red-500 text-sm mt-1 hidden'>Message is required</p>
    <p class='text-sm text-gray-500 mt-1'>
      <span x-text='messageText.length'></span> / 1000 characters used
    </p>
  </div>
</form>
